body{
    background: linear-gradient(90deg, #7F7FD5, #86A8E7, #91EAE4);
    text-align: center;
}
button{
    border-radius: 20%;
    background-color: olivedrab;
    padding: 10px;
    display: block;
    margin: auto;
}
p{
    font-weight: bold;
}
#countershow{
    font-size: xx-large;
}